@import "@monorepo/tailwind-config/styles";

/**
 * This is necessary to load the @monorepo/ui package when moving from
 * @tailwindcss/vite v4.0.7 to v4.0.8.
 *
 * For more details, see:
 * https://github.com/tailwindlabs/tailwindcss/issues/16733
 */
@source "../../../../../packages/ui";

@theme inline {
  --font-sans: var(--font-inter-tight);
}
