@import "@monorepo/tailwind-config/globals";
/**
 * This is necessary to load the @monorepo/ui package when moving from
 * @tailwindcss/vite v4.0.7 to v4.0.8.
 *
 * For more details, see:
 * https://github.com/tailwindlabs/tailwindcss/issues/16733
 */
@source "../../../../../packages/ui";
